a {
	text-decoration: none;
}
.admin-name {
	border: solid 1px; 
	padding:10px; 
	text-align:center;}
	
.link {
	border: outset 1px; 
	padding:10px; 
	text-align:center;}

button {
	padding: 3px;
	
}

.app-show{
	
	margin-top: 10px;
	margin-left: 30%;
	padding: 10px;
	width:300px;
	float: center;
	border: outset 2px;
	font-family: "Times New Roman", Times, serif;

}



.app_left {
	width: 100px;
	height: 30px;


}

a {
	text-align: center;
}
